*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.mainbox{
    margin: 0px 8%;
}

.mainbox .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainbox .header ul{
    display: flex;
    list-style-type: none;
}

.mainbox .header ul li a{
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 08px;
}
.none-active{
    color: rgb(45,45,45);
}


.mainbox .header .logo img{
    width: 130px;
}

.mainbox .banner{
    display: flex
}

.mainbox .banner .left{
    background-color: chocolate;
    flex: 1;
    height: 500px;
}

.mainbox .banner .right{
    background-color: rgb(30, 150, 210);
    flex: 1;
    height: 500px;
}

.mainbox .banner .center{
    background-color: rgb(42, 210, 30);
    flex: 2;
    height: 500px;
}
.banner .left .top{
    background-color: aquamarine;
    height: 50%;
    border-bottom: 3px solid white;
    align-items: end;
    position: relative;
    cursor: pointer;
    z-index: 1;
    background: none;
}

.banner .right .top{
    background-color: aquamarine;
    height: 50%;
    border-bottom: 3px solid white;
}

.mainbox .banner .center{
    border-right: 3px solid white;
    border-left: 3px solid white;
}

.banner .left .top div{
    position: absolute;
    bottom: 0px;
}

.banner .left .top button{
    margin-bottom: 7px;
    color: white;
    background-color: #221DB7;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 2px;
    cursor: pointer;
}

.banner .left .top .image{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../Images/ucak-inis.jpg);
    background-position: top;
    background-size: cover;
    filter: brightness(0.6);
    background-color: #221DB7;
    cursor: pointer;
    transition: 0.5s;
}

.banner .left a .top .text{
    margin-left: 20px;
    margin-bottom: 20px;
}

.banner .left a{
    color: white;
}

.banner .left a .top .title{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    line-height:22px;
}

.banner .left .top .image:hover{
    filter: brightness(0.8);
}





.banner .left .bottom{
    background-color: aquamarine;
    height: 50%;
    border-bottom: 3px solid white;
    align-items: end;
    position: relative;
    cursor: pointer;
    z-index: 1;
    background: none;
}

.banner .left .bottom div{
    position: absolute;
    bottom: 0px;
}

.banner .left .bottom button{
    margin-bottom: 7px;
    color: white;
    background-color: #221DB7;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 2px;
    cursor: pointer;
}

.banner .left .bottom .image{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../Images/Sebepleri-Aciklanamayan-Ucak-Kazalari.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.6);
    background-color: #221DB7;
    cursor: pointer;
    transition: 0.5s;
}

.banner .left .banner-etiket-2 .bottom .text{
    margin-left: 20px;
    margin-bottom: 20px;
}


.banner .left .banner-etiket-2 .bottom .title{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    line-height:22px;
}

.banner .left .bottom .image:hover{
    filter: brightness(0.8);
}




.banner .center{
    background-color: aquamarine;
    height: 100%;
    border-bottom: 3px solid white;
    align-items: end;
    position: relative;
    cursor: pointer;
    z-index: 1;
    background: none;
}

.banner .center div{
    position: absolute;
    bottom: 0px;
}

.banner .center button{
    margin-bottom: 7px;
    color: white;
    background-color: #221DB7;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 2px;
    cursor: pointer;
}

.banner .center .banner-etiket-3 .image{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../Images/ucak-kazalarinin-genel-sebebi-850x485.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.6);
    background-color: #221DB7;
    cursor: pointer;
    transition: 0.5s;
}

.banner .center .banner-etiket-3  .text{
    margin-left: 20px;
    margin-bottom: 20px;
}


.banner .center .banner-etiket-3 .title{
    font-size: 25px;
    font-family: 'Roboto',sans-serif;
    line-height:22px;
}

.banner .center .image:hover{
    filter: brightness(0.8);
}

.banner .center a{
    color: white;
}






.banner .right .top{
    background-color: aquamarine;
    height: 50%;
    border-bottom: 3px solid white;
    align-items: end;
    position: relative;
    cursor: pointer;
    z-index: 1;
    background: none;
}

.banner .right .top div{
    position: absolute;
    bottom: 0px;
}

.banner .right .top button{
    margin-bottom: 7px;
    color: white;
    background-color: #221DB7;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 2px;
    cursor: pointer;
}

.banner .right .top .image{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../Images/Pegasus-1.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.6);
    background-color: #221DB7;
    cursor: pointer;
    transition: 0.5s;
}

.banner .right .banner-etiket-2 .top .text{
    margin-left: 20px;
    margin-bottom: 20px;
}


.banner .right .banner-etiket-2 .top .title{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    line-height:22px;
}

.banner .right .top .image:hover{
    filter: brightness(0.8);
}


.banner .right a{
    color: white;
}


.banner .right .banner-etiket-4  .title{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    line-height:22px;
}

.banner .right .banner-etiket-4 .top .text{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
}






.banner .right .bottom{
    background-color: aquamarine;
    height: 50%;
    border-bottom: 3px solid white;
    align-items: end;
    position: relative;
    cursor: pointer;
    z-index: 1;
    background: none;
}

.banner .right .bottom div{
    position: absolute;
    bottom: 0px;
}

.banner .right .bottom button{
    margin-bottom: 7px;
    color: white;
    background-color: #221DB7;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 2px;
    cursor: pointer;
}

.banner .right .bottom .image{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../Images/IATA.png);
    background-position: center;
    background-size: cover;
    filter: brightness(0.6);
    background-color: #221DB7;
    cursor: pointer;
    transition: 0.5s;
}

.banner .right .banner-etiket-5 .top .text{
    margin-left: 20px;
    margin-bottom: 20px;
}


.banner .right .banner-etiket-5 .top .title{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    line-height:22px;
}

.banner .right .bottom .image:hover{
    filter: brightness(0.8);
}


.banner .right a{
    color: white;
}


.banner .right .banner-etiket-5  .title{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    line-height:22px;
}

.banner .right .banner-etiket-5 .bottom .text{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.header .options ul li a:hover{
    color: #221DB7;
    border-bottom: 2px solid #221DB7;
}

.active{
    color: #221DB7;
    border-bottom: 2px solid #221DB7;
}


.mainbox .recenttexts{
    width: 850px;
    background-color: #fdfdfd;
    margin-top: 50px;
    margin: 50px auto;
    border-right: 1.5px solid #EBEBEB;
    border-left: 1.5px solid #EBEBEB;
    border-bottom:  1.5px solid #EBEBEB;
}

.recenttexts .title{
    padding: 20px;
    border-bottom: 1.5px solid #EBEBEB;
}

.recenttexts .title ul{
    margin-left: 15px;
    color: #221DB7;
    font-size: 19px;
    font-weight: 700;
}

.recenttexts .title ul li span{
    color: rgb(0,0,0);
}

.recenttexts .box img{
    width: 335px;
    height: 195px;

}

.recenttexts .box{
    margin: 20px;
    display: flex;
    align-items: center;
}

.box .text{
    margin-left: 15px;
    margin-right: 15px;
}

.box .text a{
    color: rgb(0,0,0);
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    transition: text-decoration 1s;
}

.box .text .buttonbox{
    text-align: end;
}


.box .text a h3{
    margin-bottom: 10px;
}

.box .text .subtext{
    color: #636363;
    font-size: 13.5px;
    margin-bottom: 10px;
}


.box .buttonbox a button{
    width: 122px;
    height: 35px;
    border: 2px solid #221DB7;
    border-radius: 3px;
    background: none;
    color: #221DB7;
    font-weight: bold;
    transition: 0.5s;
}


.box .buttonbox a button:hover{
    color: white;
    background-color: #221DB7;
    cursor: pointer;
}

.box .text a:hover{
    text-decoration: underline;
    color: #221DB7;
}

.cizgi{
    border-bottom: 0.5px  solid #dad3d3;
}

.mainbox .footer{
    background-color: #221DB7;
}